@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  background-color: black;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
